<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="ir_acerca_pagina()">
        <ion-icon slot="icon-only" name="football"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card class="welcome-card">
    <ion-img src="assets/img-des-4.jpg"></ion-img>
    <ion-card-header>

      <ion-card-title>
        <p id="titulo">
          Un depresivo Barça pasa el trámite ante el Getafe </p>
      </ion-card-title>

    </ion-card-header>

    <ion-card-content color="success">
      <p id="contenido-principal">
        En una noche para el olvido el Barcelona de valverde perdió
        un partido el cual era favorable para ellos después de haber
        ganado en casa por 3 goles al Liverpool de Klopp e iso un Ridículo
        histórico ante el conjunto ingles, quien en el mitico Anfield dio
        vuelta el encuentro, en un partido en donde el jugador mas destacado
        del conjunto blaugrana fue Arturo Vidal, quien como siempre se mostro
        coperativo en todos los lugares de la cancha, pero eso no alcanzo para
        que el Liverpool lograra la azaña, lo que mas sorprendio a la inchada
        blaugrana fue el sorpresivo cambio de Arturo Vidal por Arthur Melo la
        cual mostro su enojo atravez de redes sociales recriminandole a valverde
        por su accionar.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="assets/img-des-3.jpeg"></ion-img>
    <ion-card-header>

      <ion-card-title>
        <p id="titulo">
          Tebas: "Messi merece un homenaje como Mejor Jugador de la historia de LaLiga"
        </p>
      </ion-card-title>

    </ion-card-header>

    <ion-card-content color="success">
      <p id="contenido-principal">
        En una noche para el olvido el Barcelona de valverde perdió
        un partido el cual era favorable para ellos después de haber
        ganado en casa por 3 goles al Liverpool de Klopp e iso un Ridículo
        histórico ante el conjunto ingles, quien en el mitico Anfield dio
        vuelta el encuentro, en un partido en donde el jugador mas destacado
        del conjunto blaugrana fue Arturo Vidal, quien como siempre se mostro
        coperativo en todos los lugares de la cancha, pero eso no alcanzo para
        que el Liverpool lograra la azaña, lo que mas sorprendio a la inchada
        blaugrana fue el sorpresivo cambio de Arturo Vidal por Arthur Melo la
        cual mostro su enojo atravez de redes sociales recriminandole a valverde
        por su accionar.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="assets/img-des-1.jpg"></ion-img>
    <ion-card-header>

      <ion-card-title>
        <p id="titulo">
          Ridiculo del Barcelona, el sueño de vidal tendra que seguir esperando
        </p>
      </ion-card-title>

    </ion-card-header>

    <ion-card-content color="success">
      <p id="contenido-principal">
        En una noche para el olvido el Barcelona de valverde perdió
        un partido el cual era favorable para ellos después de haber
        ganado en casa por 3 goles al Liverpool de Klopp e iso un Ridículo
        histórico ante el conjunto ingles, quien en el mitico Anfield dio
        vuelta el encuentro, en un partido en donde el jugador mas destacado
        del conjunto blaugrana fue Arturo Vidal, quien como siempre se mostro
        coperativo en todos los lugares de la cancha, pero eso no alcanzo para
        que el Liverpool lograra la azaña, lo que mas sorprendio a la inchada
        blaugrana fue el sorpresivo cambio de Arturo Vidal por Arthur Melo la
        cual mostro su enojo atravez de redes sociales recriminandole a valverde
        por su accionar.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="assets/img-des-2.jpeg"></ion-img>
    <ion-card-header>

      <ion-card-title>
        <p id="titulo">
          Cuánto dinero recibiría el Atlético de Madrid y tendría que pagar
          el Barcelona para fichar a Griezmann
        </p>
      </ion-card-title>

    </ion-card-header>

    <ion-card-content color="success">
      <p id="contenido-principal">
        En una noche para el olvido el Barcelona de valverde perdió
        un partido el cual era favorable para ellos después de haber
        ganado en casa por 3 goles al Liverpool de Klopp e iso un Ridículo
        histórico ante el conjunto ingles, quien en el mitico Anfield dio
        vuelta el encuentro, en un partido en donde el jugador mas destacado
        del conjunto blaugrana fue Arturo Vidal, quien como siempre se mostro
        coperativo en todos los lugares de la cancha, pero eso no alcanzo para
        que el Liverpool lograra la azaña, lo que mas sorprendio a la inchada
        blaugrana fue el sorpresivo cambio de Arturo Vidal por Arthur Melo la
        cual mostro su enojo atravez de redes sociales recriminandole a valverde
        por su accionar.
      </p>
    </ion-card-content>

  </ion-card>

  

</ion-content>