.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
#contenido-principal{
  text-align: justify;
}
#titulo{
  text-align: center;
}
#noticias-destacadas{
  text-align: center;
}
ion-button{
  margin: 0 auto;
}
