<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="ir_acerca_pagina()">
        <ion-icon slot="icon-only" name="football"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Videos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <div id="titulo_video">
          <strong>
            Liverpool-FC Barcelona [4-0] <br>|GOLES|Semifinales(VUELTA)<br>UEFA Champions League
          </strong>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <div id="yt">
      <ion-icon name="logo-youtube"></ion-icon>
    </div>
    <iframe id="video" width="100%" height="200" src="https://www.youtube.com/embed/zutXWIRnOV8" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreean>
    </iframe>
    <ion-card-content>
      <div id="iformacion_video">
        El Liverpool venció por 4-0 al Barcelona, aquí un resumen de los goles del
        conjunto ingles.
      </div>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <div id="titulo_video">
          <strong>
            Ajax-Tottenham[2-3]<br>|GOLES|Semifinales(VUELTA)|<br>UEFA Champions League </strong>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <div id="yt">
      <ion-icon name="logo-youtube"></ion-icon>
    </div>
    <iframe id="video" width="100%" height="200" src="https://www.youtube.com/embed/L_k_jkepSe0" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreean>
    </iframe>
    <ion-card-content>
      <div id="iformacion_video">
        Ajax perdió contra Tottenham en un partido favorable para los de Ámsterdam,
        el Ajax mostró un buen futbol pero no fue suficiente para vencer a los ingleses
        quienes sorprendiendo a todos lograron dar vuelta el encuentro.
      </div>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <div id="titulo_video">
          <strong>
            Los números de Coutinho que no sirven NI PARA VENDERLO | Telemundo Deportes
          </strong>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <div id="yt">
      <ion-icon name="logo-youtube"></ion-icon>
    </div>
    <iframe id="video" width="100%" height="200" src="https://www.youtube.com/embed/UjAYqzqn7h4" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreean>
    </iframe>
    <ion-card-content>
      <div id="iformacion_video">
        El brasileño philippe coutinho no lo ha pasado bien, con su bajo rendimiento
        en el conjunto blaugrana la hinchada ha expresado saber su molestia, por lo cual muchos
        piden vender al brasileño en el mercado de verano que se aproxima, la pregunta
        es ¿será capaz de revertir esta situación el crack brasileño?.
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>