#contenido-principal{
    text-align:justify;
}
#titulo{
    text-align: center;
}
#columna{
    text-align: center;
    font-size: 12px;
    text-align: left;
    height: 33px;
    
}
#bandera{
    height: 40px;
    width: 40px;
    margin-top: -10px;
    
}  
#contenedor1{
    float: left;
} 
#contenedor2{
    float: left;
    margin-left: 10px;
}

