<ion-header>
  <ion-toolbar color="success">
    <ion-back-button text="volver" defaultHref="/"></ion-back-button>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-img src="assets/lm.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <p id="titulo">
          Lionel Messi
        </p>
      </ion-card-title>
      <ion-card-subtitle>
        Historia
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="success">
      <ion-item>
        <p id="contenido-principal">
          El 24 de junio de 1987 en Rosario, Argentina, nació uno de los mejores futbolistas de la historia: Lionel
          Andrés Messi Cuccittini,
          también conocido como Leo Messi o La Pulga.Comenzó a jugar al fútbol a los 5 años de edad, y en 1995 se
          incorporó a las divisiones
          inferiores del club rosarino Newell’s Old Boys.

          A los 11 años de edad le fue diagnosticada una deficiencia de la hormona de crecimiento,
          cuyo tratamiento era muy costoso. La habilidad y el talento del joven futbolista llamaron la
          atención de Carles Rexach, director técnico del FC Barcelona. El club español, entonces, se
          ofreció a pagar su tratamiento médico, y Messi se trasladó a España junto con su familia.
        </p>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-item>
        <ion-card-title>
          Datos Personales
        </ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col id="columna">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            Fecha de nac : <strong>24/06/1987</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            Edad : <strong>31 años</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <div id="contenedor1">
              <ion-checkbox checked="true" disabled="true"></ion-checkbox>
              Pais : <strong>Argentina</strong>
            </div>
            <div id="contenedor2">
              <ion-img id="bandera" src="/assets/argentina.svg"></ion-img>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            Altura: <strong>170 cm</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            Partidos Internacionales: <strong>128</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            Debut: <strong>17/08/2005</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            Posicion: <strong>Delantero</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <ion-checkbox checked="true" disabled="true"></ion-checkbox>
            Peso: <strong>72 kg</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col id="columna">
            <div id="contenedor1">
              <ion-checkbox checked="true" disabled="true"></ion-checkbox>
              Equipo : <strong>FC Barcelona</strong>
            </div>
            <div id="contenedor2">
              <ion-img id="bandera" src="/assets/fc_barcelona.ico"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>



  </ion-card>


</ion-content>