<ion-header>
  <ion-toolbar color="success">
    <ion-back-button text="volver" defaultHref="/"></ion-back-button>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="/assets/imagen_acerca_de.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title id="titulo">
        <strong>Integrantes</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        Diego Beñaldo
      </div>
      <div>
        Ingeniería informática
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>