#nom_jugador{
    font-size: 11px;
    text-align: center;
    margin-top: -10px;
    width: 80px;
}
#columna{
    width: 40px;
    padding: 5px;
}
#card{
    width: 120px;
    height: 180px;
    margin: 0 auto;
}
#contenedor{
    margin-top: -10px;
    height: 20px;
}
#boton{
    margin: 0 auto;
    text-align: center;
    width: 50   ;
}
#perfil_jugador{
    height: 105px;
}
#icono{
    width: 30px;
    height: 30px;
    float: left;
    margin: 4px;
}
#caja_busqueda{
    text-align: center;
}
